Repository khaeru/sdmx, pull requests merged in 2020-11, with the labels that each got.

#22 Set default provider="ALL" for INSEE structure requests
  doc/conf.py
  doc/sources.rst
  doc/whatsnew.rst
  sdmx/model.py
  sdmx/source/insee.py
  sdmx/tests/conftest.py
  sdmx/tests/test_model.py
  sdmx/tests/test_sources.py
Labels: data-source

#25 Add Statistics Estonia as a source in sdmx/sources.json.
  doc/sources.rst
  doc/whatsnew.rst
  sdmx/sources.json
  sdmx/tests/test_source.py
  sdmx/tests/test_sources.py
Labels: data-source, enh

#24 Add a HOWTO on creating SDMX-ML messages from pure Python
  .gitignore
  doc/howto.rst
  doc/howto/create.rst
  doc/index.rst
  doc/whatsnew.rst
  sdmx/model.py
  sdmx/reader/__init__.py
  sdmx/reader/sdmxml.py
  sdmx/tests/writer/test_writer_xml.py
  sdmx/writer/xml.py
Labels: doc, enh
