Repository khaeru/sdmx, pull requests merged in 2020-12, with the labels that each got.

#33 Add a new source for Statistics Lithuania; improve reader.sdmxml
  doc/sources.rst
  doc/whatsnew.rst
  sdmx/api.py
  sdmx/reader/sdmxml.py
  sdmx/remote.py
  sdmx/source/lsd.py
  sdmx/sources.json
  sdmx/tests/test_source.py
  sdmx/tests/test_sources.py
Labels: bug, data-source, enh, reader, xml

#32 Add a new source with tests and doc for NBB (National Bank of Belgium)
  doc/sources.rst
  doc/whatsnew.rst
  sdmx/sources.json
  sdmx/tests/test_source.py
  sdmx/tests/test_sources.py
Labels: data-source, enh

#37 Advertise Python 3.9 support & check on CI
  .github/workflows/pytest.yaml
  doc/whatsnew.rst
  setup.cfg
Labels: enh
