Repository khaeru/sdmx, pull requests merged in 2021-01, with the labels that each got.

#30 Add SPC PDH.stat to sources
  doc/sources.rst
  doc/walkthrough.rst
  doc/whatsnew.rst
  sdmx/model.py
  sdmx/reader/sdmxml.py
  sdmx/sources.json
  sdmx/tests/test_source.py
  sdmx/tests/test_sources.py
  sdmx/urn.py
  sdmx/writer/pandas.py
  sdmx/writer/xml.py
Labels: data-source, enh

#41 Respect override in add_source()
  doc/whatsnew.rst
  sdmx/source/__init__.py
Labels: bug

#53 Address failures in test_sources
  .github/workflows/pytest.yaml
  sdmx/tests/test_client.py
  sdmx/tests/test_sources.py
Labels: data-source
