Repository khaeru/sdmx, pull requests merged in 2024-01, with the labels that each got.

#152 Add metadata structures and sets to IM and SDMX-ML reader
  .gitignore
  .pre-commit-config.yaml
  doc/api/model-common-list.rst
  doc/api/model-v21-list.rst
  doc/api/model-v30-list.rst
  doc/conf.py
  doc/dev.rst
  doc/whatsnew.rst
  pyproject.toml
  sdmx/format/xml/common.py
  sdmx/format/xml/v21.py
  sdmx/format/xml/v30.py
  sdmx/message.py
  sdmx/model/common.py
  sdmx/model/v21.py
  sdmx/model/v30.py
  sdmx/reader/xml/v21.py
  sdmx/reader/xml/v30.py
  sdmx/rest.py
  sdmx/source/__init__.py
  sdmx/sources.json
  sdmx/testing/__init__.py
  sdmx/tests/model/test_common.py
  sdmx/tests/model/test_v21.py
  sdmx/tests/reader/test_reader_xml.py
  sdmx/tests/test_message.py
  sdmx/tests/test_model.py
  sdmx/tests/test_sources.py
  sdmx/writer/pandas.py
Labels: enh, xml, reader

#154 Validate SDMX-ML v2.1 and v3.0 messages
  doc/howto.rst
  doc/howto/validate.rst
  doc/whatsnew.rst
  pyproject.toml
  sdmx/__init__.py
  sdmx/format/xml/common.py
  sdmx/tests/format/test_format_xml.py
  sdmx/writer/xml.py
Labels: enh, xml, sdmx-3.0

#159 Fix read/write of common.Contact
  doc/whatsnew.rst
  sdmx/reader/xml/v21.py
  sdmx/tests/reader/test_reader_xml_v21.py
  sdmx/tests/writer/test_writer_xml.py
  sdmx/writer/xml.py
Labels: bug, writer, xml, reader
